*{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    height: 50%;
    position: absolute;
}

h1{
    display: inline;
    text-align: center;
}

h4{
    top:70px;
    text-align: center;
}


.texto{
    top:150px;
    width: 850px;
    margin: 0 0 0 305px;
    font-size: 13px;
}

